@import url(https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300")
/***********************************************************************
*  Reset *
***********************************************************************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  max-width: 100%;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
footer, header, nav, section { display: block; }
body { line-height: 1; }

/* The application styles have been developed mobile-first */

/* Standard styles */
html {
    font-size: 62.5%; /* Responsive 10px */
}
body {
    font-family: 'Lora', serif;
    font-size: 1.6rem; /* Responsive 16px */
    background-color: #fce1e0;
    color: #010203;
}
h1, h2, h3 {
    line-height: 1.2;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
h2, h3 {
    text-transform: capitalize;
}
header, footer {
    width: 95%;
}
a:hover, a:focus {
    outline: none;
    border: thin solid palevioletred;
}
h1 {
    text-transform: uppercase;
}
hr {
    width: 97%;
    color: currentColor;
}
p {
    line-height: 2.4;
    text-align: justify;
}
.button {
    padding: 4% 2%;
    border-radius: 6px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 800;
    background-color: palevioletred;
    color: currentColor;
}
.poverty {
    background-color: palevioletred;
}
.team {
    display: flex;
    justify-content: space-evenly;
}
.team div {
    max-width: 25%;
}
.mission-statement {
    display: flex;
    flex-direction: column;
    background-color: palevioletred;
}

/**************************************************************
* Mobile Styles: screen-size < 400px *
**************************************************************/

/* Header styles */
header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 2% auto;
    padding: 2%;
}
nav {
    order: 1;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 3%;
    width: 25%;
}
nav a {
    margin: 2%;
    padding: 2%;
    text-align: center;
    background-color: palevioletred;
}
nav a:active {
    background-color: #010203;
    color: navajowhite;
}
.title {
    order: 2;
    width: 45%;
}
.login {
    order: 3;
    width: 20%;
}
.login a {
    background-color: #010203;
    color: navajowhite;
}
.header-image {
    margin: 2% auto;
    max-width: 75%;
}

/* Main section styles */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
}

/* Footer styles */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4% auto;
    width: 95%;
}

/****************************************************
* Tablet Styles: tablets and smaller laptop screens between 800px and 1000px *
****************************************************/

@media (min-width: 800px) {
    header div, nav, img {
        order: initial;
    }
    .header-image {
        max-width: 35%;
    }
    nav {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 60%;
    }
    main {
        flex-flow: row wrap;
        justify-content: space-around;
    }
    .welcome {
        width: 90%;
    }
    .action-call, .poverty {
        width: 45%;
    }
}

/*******************************************************
* Desktop styles: screen-size > 1000px *
*******************************************************/

@media (min-width: 1000px) {
    nav, footer { background-color: palevioletred; }
    nav a { color: rebeccapurple; }
    .button { background-color: rebeccapurple; }
    main section { width: 30%; }
}
