@import url(https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300")
/***********************************************************************
*  Reset *
***********************************************************************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  max-width: 100%;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
footer, header, nav, section { display: block; }
body { line-height: 1; }

/* The application styles have been developed mobile-first */

/* Standard styles */
html {
    font-size: 62.5%; /* Responsive 10px */
}
body {
    font-family: 'Lora', serif;
    font-size: 1.6rem; /* Responsive 16px */
    background-color: #fce1e0;
    color: #010203;
}
h1, h2, h3 {
    line-height: 1.2;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
h2, h3 {
    text-transform: capitalize;
}
header, footer {
    width: 95%;
}
a:hover, a:focus {
    outline: none;
    border: thin solid palevioletred;
}
a:visited {
    color: DarkViolet;
}
h1 {
    text-transform: uppercase;
}
hr {
    width: 97%;
    color: currentColor;
}
p {
    line-height: 2.4;
    text-align: justify;
}
img {
    max-width: 50%;
    max-height: 30%;
}
.button {
    padding: 4% 2%;
    border-radius: 6px;
    text-transform: uppercase;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 2rem;
    font-weight: 800;
    background-color: palevioletred;
    color: currentColor;
}
.team-photo {
    max-width: 100%;
    max-height: 50%;
}

/**************************************************************
* Mobile Styles: screen-size < 400px *
**************************************************************/

/* Header styles */
header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 2% auto;
    padding: 2%;
}
nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 3%;
    width: 60%;
}
nav a {
    margin: 2%;
    padding: 2%;
    text-align: center;
    background-color: palevioletred;
}
nav a:active {
    background-color: navajowhite;
}

/* Main section styles */
main {
    display: flex;
    flex-direction: column;
    width: 95%;
}
main section {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.poverty, .mission-statement {
    background-color: palevioletred;
}

/* Footer styles */
footer {
    dsplay: flex;
    flex-direction: row;
    margin: 4% auto;
    width: 95%;
}
footer a {
    justify-self: flex-start;
    align-self: center;
}

/****************************************************
* Tablet Styles: tablets and smaller laptop screens between 800px and 1000px *
****************************************************/

@media (min-width: 800px) {
    /* Header styles */
    .header-image {
        max-width: 35%;
        justify-self: flex-start;
    }
    nav {
        flex-direction: row;
        justify-content: space-evenly;
        width: 60%;
    }

    /* Main styles */
    main {
        flex-flow: row wrap;
        justify-content: space-around;
    }
    .action-call, .poverty {
        width: 45%;
    }
    .team div {
        max-width: 50%;
    }
}

/*******************************************************
* Desktop styles: screen-size > 1000px *
*******************************************************/

@media (min-width: 1000px) {
    
}
